button {
    margin-top: 10px;
    width: 426px;
    height: 68px;
    left: 965px;
    top: 516px;
    background: $main-color;
    border-radius: 40px;
    border: none;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}