@import './libs/bootstrap-reboot.min';
@import './libs/fonts';
@import './variables/variables';
@import './components/main';
@import './components/button';
@import './components/input';




* {
    margin: 0;
    padding: 0;
    font-family: 'Nekst';
    font-style: normal;
}